# Dependencies
node_modules
venv
.venv

# Build files
build
site

# Distribution files
dist
mkdocs_material.egg-info

# Caches and logs
*.cpuprofile
*.log
*.tsbuildinfo
.cache
.eslintcache
__pycache__


.cache
.github\workflows